<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蘑菇街-时尚的目的地</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="nav">
    <div class="nav-top">
        <div class="nav-in clearfix">
            <ul class="fr">
                <li><a href="#"><i class="iconfont icon-xiazai45"></i>首页</a></li>
                <li> |</li>
                <li><a href="#"><i class="iconfont icon-icon-test"></i>商城</a></li>
                <li> |</li>
                <li><a href="#">我的订单</a></li>
                <li> |</li>
                <li><a href="#">关于我们<i class="iconfont icon-huaban"></i></a></li>
            </ul>
        </div>

    </div>
    <div class="nav-bottom">
        <div class="nav-in">
            <h1 class="logo"><a href="#"><img src="images/logo.png" alt=""></a></h1>
            <div class="menu"><i class="iconfont icon-caidan"></i>目录</div>
            <form class="search">
                <input type="text" placeholder="半身裙">
                <input type="submit" value="">
            </form>
            <ul class="list">
                <li>
                    <i class="iconfont icon-weixin"></i>
                    <p>消息</p>
                </li>

                <li>
                    <i class="iconfont icon-xingxing"></i>
                    <p>收藏</p>
                </li>

                <li>
                    <i class="iconfont icon-gouwuchekong"></i>
                    <p>购物车</p>
                </li>

                <li>
                    <i class="iconfont icon-ico"></i>
                    <p>下载APP</p>
                </li>
            </ul>
            <div class="login">
                <a href="">
                    <img src="images/login.png" alt="#">
                    登录
                </a>
            </div>

        </div>
    </div>
</div>

<div class="nav nav2">
    <div class="nav-bottom">
        <div class="nav-in">
            <h1 class="logo"><a href="#"><img src="images/logo.png" alt=""></a></h1>
            <div class="menu"><i class="iconfont icon-caidan"></i>目录</div>
            <form class="search">
                <input type="text" placeholder="半身裙">
                <input type="submit" value="">
            </form>
            <ul class="list">
                <li>
                    <i class="iconfont icon-weixin"></i>
                    <p>消息</p>
                </li>

                <li>
                    <i class="iconfont icon-xingxing"></i>
                    <p>收藏</p>
                </li>

                <li>
                    <i class="iconfont icon-gouwuchekong"></i>
                    <p>购物车</p>
                </li>

                <li>
                    <i class="iconfont icon-ico"></i>
                    <p>下载APP</p>
                </li>
            </ul>
            <div class="login">
                <a href="">
                    <img src="images/login.png" alt="#">
                    登录
                </a>
            </div>

        </div>
    </div>
</div>

<div class="main">
    <div class="main-in">
        <!--
        <div class="item">
            <div class="item-box">
                <div class="item-top">
                    <img src="images/test.jpg" alt="">
                    <div class="play">
                        <img src="images/play.png" alt="">
                    </div>
                    <div class="title">
                        <img src="images/sold.png" alt="">
                        1件商品
                    </div>
                    <div class="mask">
                        <ul>
                            <li>
                            <span>
                                446
                            </span>
                            </li>
                            <li></li>
                        </ul>
                        <div class="mask-info">
                            <div class="mask-title">
                                <img src="images/sold.png" alt="">
                                1件商品
                            </div>
                            <div class="mask-des">
                                # 一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光# 一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光#
                                一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光# 一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光#
                                一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光# 一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光#
                                一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光# 一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光#
                                一件衣服穿搭就很爽，你又何必如此在乎这些衣着是怎样，不用理会他人的眼光
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-bottom">
                    <a href="#">
                        <img src="images/huo.png" alt="">
                        H&M
                    </a>
                </div>
            </div>
        </div>-->
        <!--<div class="banner">
            <img src="images/banner.jpg" alt="">
        </div>
        <div class="category">
            <ul class="category-top">
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
                <li><a href="#">上衣</a></li>
            </ul>
            <ul class="category-bottom">
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">时尚套装</a></li>
            </ul>
        </div>-->
    </div>
</div>
<div class="footer">
    <div class="footer-in">
        <!--<div class="footer-logo">
            <img src="images/footer-logo.png" alt="">
        </div>
        <div class="footer-helper">
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">常见问题</a></dd>
            </dl>
        </div>

        <ul class="footer-list">
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>

        </ul>

        <div class="footer-line">
            <span>©2019 Mogujie.com 杭州卷瓜网络有限公司</span>
        </div>
        <div class="footer-copyright">
            <p>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>

            </p>
            <p>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
                <a href="#">营业执照</a>
                <span>|</span>
            </p>
        </div>-->

    </div>
</div>

<script src="js/tools.js"></script>
<script src="js/clamp.js"></script>
<script src="js/template-web.js"></script>
<script src="js/index.js"></script>

<!--模板-->

<script id="exmp" type="text/html">

    <div class="footer-logo">
        <img src="images/footer-logo.png" alt="">
    </div>

    <div class="footer-helper">
        <% for(let i=0;i < clos.length;i++) { %>
        <dl>
            <% for(let j=0;j < clos[i].length;j++) { %>
            <% if(clos[i][j].isHeader) { %>
            <dt><%=clos[i][j].title%></dt>
            <% } else { %>
            <dd><a href="#"><%=clos[i][j].title%></a></dd>
            <% } %>
            <% } %>
        </dl>

        <% } %>
    </div>

    <ul class="footer-list">
        <% for(let i=0;i < list.length;i++) { %>
        <li><a href="#"><%=list[i].title%></a></li>
        <%if(i!==list.length-1) { %>
        <li>|</li>
        <% } %>
        <% } %>
    </ul>

    <div class="footer-line">
        <span><%=line.title%></span>
    </div>

    <div class="footer-copyright">
        <% for(let i = 0;i < copyright1.length;i++) { %>
        <p>
            <% for(let j=0;j < copyright1[i].length;j++) { %>
                <a href="#"><%=copyright1[i][j].title%></a>
                <span>|</span>
            <% } %>
        </p>
        <% } %>
    </div>

</script>

<script id="demo" type="text/html">
    <div class="banner">
        <img src="images/banner.jpg" alt="">
    </div>
    <div class="category">
        <ul class="category-top">
            <% for(let i=0;i < cateList.length;i++) { %>
            <li style="background: url('<%=cateList[i].cateIcon%>');background-size: 112px 112px;"><a href="#"><%=cateList[i].cateName%></a>
            </li>
            <% } %>
        </ul>
        <ul class="category-bottom">
            <% for(let i=0;i < wordList.length;i++) { %>
            <li><a href="#"><%=wordList[i].word%></a></li>
            <% } %>
        </ul>
    </div>
</script>

<script id="test" type="text/html">
    <% for(let i=0;i < list.length;i++) { %>

    <% if(i==2 || i==2 || i==3 || i==4) { %>
    <!--预留出空的盒子-->
    <div class="item" style="width: 220px;height: 1160px"></div>
    <% } else { %>
    <div class="item">
        <div class="item-box">
            <div class="item-top">
                <% let scale=list[i].originW / list[i].originH %>
                <% let imgHeight=220 / scale %>
                <img src="<%=list[i].cover %>" style="width: 220px;height: <%=imgHeight%>px">
                <% if(list[i].isVideo) { %>
                <div class="play"><img src="images/play.png" alt=""></div>
                <% } %>
                <div class="title">
                    <img src="images/sold.png" alt="">
                    <%=list[i].itemNumbers%>件商品
                </div>
                <div class="mask">
                    <ul>
                        <li>
                                <span>
                                    <%=list[i].cFav%>
                                </span>
                        </li>
                        <li></li>
                    </ul>
                    <div class="mask-info">
                        <div class="mask-title">
                            <img src="images/sold.png" alt="">
                            <%=list[i].itemNumbers%>件商品
                        </div>
                        <div class="mask-des">
                            <%=list[i].content%>
                        </div>
                    </div>
                </div>
            </div>
            <!--如果没有下面的品牌logo,则不显示-->
            <% if(list[i].brandInfo.length !== 0) { %>
            <div class="item-bottom clearfix">
                <% for(let j=0;j < list[i].brandInfo.length;j++) { %>
                <a href="#">
                    <img src="<%=list[i].brandInfo[j].brandLogo %>" alt="">
                    <%=list[i].brandInfo[j].brandName %>
                </a>
                <% } %>

            </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <% } %>
</script>

</body>
</html>